
li{
    display: inline;
    
}
.text-center{
    text-align: center;
}
body{
    background-color: rgb(238, 183, 183);
}
ul{
    border: 0;
    padding: 0%;
    margin: 0%;
    overflow: hidden;
    
    
   
}
a{
    color: #141313;
    text-decoration: none;
}
